<a href="https://colab.research.google.com/github/laurenemilyto/Project-4-Predicting-Hospial-Readmission-for-Diabetes/blob/main/diabetesv3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Model Development - Testing w/ Reduced Featureset

In [1]:
#Loading libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

### Reading data from PostgresSQL Table
table = 'dataset'

In [2]:
# Import SQL Alchemy to read from Postgres databaase
import psycopg2
from sqlalchemy import create_engine, MetaData, func
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, Boolean, delete

In [3]:
# Establish connection to PostgreSQL
# Modify password and localhost as needed
engine = create_engine("postgresql://postgres:postgres@localhost:5432/project4")
conn = engine.connect()

In [4]:
# Read data from PostgreSQL database table and load into a DataFrame instance
query_results = pd.read_sql("select * from \"dataset\"", conn);

In [5]:
# Print dataframe
print(query_results)

        id race gender age weight time_in_hospital insulin diabetes_med  \
0        1    2      1   5      8                2       2            1
1        2    2      0   6      1                5       2            1
2        3    2      0   4      8                3       2            1
3        4    2      0   7      8               11       2            1
4        5    2      0   8      7                9       2            1
...    ...  ...    ...  ..    ...              ...     ...          ...
3054  3055    0      1   6      8                2       1            0
3055  3056    2      1   6      2                4       1            1
3056  3057    2      0   7      7                8       2            1
3057  3058    2      1   7      8                4       1            1
3058  3059    2      1   6      4                3       1            1

     readmitted
0             0
1             0
2             0
3             0
4             0
...         ...
3054          0
3055          0
3056          0
3057          1
3058          0

[3059 rows x 9 columns]

### Converting to Pandas Dataframe

In [6]:
df = pd.DataFrame(query_results)
df

,id,race,gender,age,weight,time_in_hospital,insulin,diabetes_med,readmitted
0,1,2,1,5,8,2,2,1,0
1,2,2,0,6,1,5,2,1,0
2,3,2,0,4,8,3,2,1,0
3,4,2,0,7,8,11,2,1,0
4,5,2,0,8,7,9,2,1,0
...,...,...,...,...,...,...,...,...,...
3054,3055,0,1,6,8,2,1,0,0
3055,3056,2,1,6,2,4,1,1,0
3056,3057,2,0,7,7,8,2,1,0
3057,3058,2,1,7,8,4,1,1,1
3058,3059,2,1,6,4,3,1,1,0

## Preprocessing Data

In [7]:
# Drop ID column since this is not needed for our model
df.drop(['id'], axis=1,inplace=True)
df

     race gender age weight time_in_hospital insulin diabetes_med readmitted
0       2      1   5      8                2       2            1          0
1       2      0   6      1                5       2            1          0
2       2      0   4      8                3       2            1          0
3       2      0   7      8               11       2            1          0
4       2      0   8      7                9       2            1          0
...   ...    ...  ..    ...              ...     ...          ...        ...
3054    0      1   6      8                2       1            0          0
3055    2      1   6      2                4       1            1          0
3056    2      0   7      7                8       2            1          0
3057    2      1   7      8                4       1            1          1
3058    2      1   6      4                3       1            1          0

[3059 rows x 8 columns]

In [8]:
# Verify shape
df.shape

(3059, 8)

In [9]:
# Verify that no null values exist
df.isnull().sum()

race                0
gender              0
age                 0
weight              0
time_in_hospital    0
insulin             0
diabetes_med        0
readmitted          0
dtype: int64

## Reduce Features for Testing

In [10]:
# Check unique values to evaluate which features to drop
df.nunique()

race                 4
gender               2
age                 10
weight               9
time_in_hospital    14
insulin              4
diabetes_med         2
readmitted           2
dtype: int64

In [11]:
# Drop columns, leaving insulin and diabetes_med for testing our model
df.drop(['race', 'gender', 'age', 'weight', 'time_in_hospital'], axis=1, inplace=True)
df

     insulin diabetes_med readmitted
0          2            1          0
1          2            1          0
2          2            1          0
3          2            1          0
4          2            1          0
...      ...          ...        ...
3054       1            0          0
3055       1            1          0
3056       2            1          0
3057       1            1          1
3058       1            1          0

[3059 rows x 3 columns]

## Testing & Training Data

In [12]:
# Split our preprocessed data into our features and target arrays
y = df['readmitted']
X = df.drop(columns = ["readmitted"], axis=1)

In [13]:
X

     insulin diabetes_med
0          2            1
1          2            1
2          2            1
3          2            1
4          2            1
...      ...          ...
3054       1            0
3055       1            1
3056       2            1
3057       1            1
3058       1            1

[3059 rows x 2 columns]

In [14]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state= 42)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
# Number of features in datast
len(X.columns)

2

## Logistic Regression Model

In [17]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression

lg = LogisticRegression(max_iter=1000)

In [18]:
lg.fit(X_train,y_train)

LogisticRegression(max_iter=1000)

In [19]:
y_pred = lg.predict(X_test)
y_pred

array(['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'],
      dtype=object)

In [20]:
print(f'Training Score: {lg.score(X_train, y_train)}')
print(f'Testing Score: {lg.score(X_test, y_test)}')

Training Score: 0.8836094158674804
Testing Score: 0.8967320261437909

In [21]:
from sklearn.metrics import confusion_matrix , classification_report

target_names = ['not readmitted', 'readmitted']
print(classification_report(y_test, y_pred, target_names=target_names))

                precision    recall  f1-score   support

not readmitted       0.90      1.00      0.95       686
    readmitted       0.00      0.00      0.00        79

      accuracy                           0.90       765
     macro avg       0.45      0.50      0.47       765
  weighted avg       0.80      0.90      0.85       765

C:\Users\laure\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\laure\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\laure\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

The classification report shows that recall is high, meaning that the classifier is missing some 'readmits' because it is being too careful. The F1 score, a balance of precision and recall is higher for readmitted patients than for patients who are not readmitted.

## Random Forest Model

In [22]:
# Random Forest
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=42, n_estimators=200).fit(X_train,y_train)

print(f'Training Score: {rf.score(X_train, y_train)}')
print(f'Testing Score: {rf.score(X_test, y_test)}')

Training Score: 0.8836094158674804
Testing Score: 0.8967320261437909

In [24]:
ypred_rf = rf.predict(X_test)

# Export Models

In [30]:
# Export our model to HDF5 file
import joblib

In [31]:
joblib.dump(rf, 'models/rf_model_reduced.h5')

['rf_model_reduced.h5']

In [32]:
rf = joblib.load('models/rf_model_reduced.h5')

In [33]:
joblib.dump(lg, 'models/lg_model_reduced.h5')

['lg_model_reduced.h5']

In [34]:
lg = joblib.load('models/lg_model_reduced.h5')